body {
  font-family: "roboto";
  margin: 0;
  min-height: 100vh;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.blue {
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
}

.header {
  margin: 1rem 5rem 0;
  max-width: 80rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: #F9FAF8;
}

.header-links {
  display: flex;
  gap: 2rem;
  font-size: 18px;
  color: #E5E7EB;
}

 .hero {
  margin: 3rem 5rem;
  max-width: 80rem;
  display: flex;
 }

 .hero-left {
   gap: 8px;
   display: flex;
   flex-direction: column;
   justify-content: center;
 }

 .hero-left button {
   border: none;
   border-radius: 5px;
   align-self: flex-start;
   color: white;
   background-color: #3882F6;
   padding: 8px 30px;
 }

.hero-left,
.hero-right {
  flex: 0 0 50%;
 }

.hero-right img {
  height: 200px;
  width: 100%;
}

.hero-left > * {
  margin: 0;
}

.main-text {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
}

.sub-text {
  color: #F9FAF8;
}
