body {
  font-family: "roboto";
  margin: 0;
  min-height: 100vh;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.blue {
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  width: 100%;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: #F9FAF8;
}

.header-links {
  display: flex;
  gap: 2rem;
  font-size: 18px;
  color: #E5E7EB;
}

 .hero {
  padding: 3rem 0;
  max-width: 1000px;
  display: flex;
 }

 .hero-left {
   gap: 8px;
   display: flex;
   flex-direction: column;
   justify-content: center;
 }

 .sign-up {
   border: none;
   border-radius: 5px;
   align-self: flex-start;
   color: white;
   background-color: #3882F6;
   padding: 8px 30px;
 }

.hero-left,
.hero-right {
  flex: 0 0 50%;
 }

.hero-right img {
  height: 200px;
  width: 100%;
}

.hero-left > * {
  margin: 0;
}

.main-text {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
}

.sub-text {
  color: #F9FAF8;
}

.white {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0 4rem;
  gap: 2rem;
}

.random-info {
  font-size: 36px;
  font-weight: 800;
  color: #1F2937;
}

.image-info-container {
  display: flex;
  gap: 3rem;
}

.image-info {
  max-width: 150px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.image-box {
  height: 150px;
  width: 150px;
  border: 2px solid blue;
  border-radius: 16px;
}

.grey {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote-container {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  padding: 4rem;
}

.quote {
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
}

.quotee {
  font-weight: 700;
  align-self: flex-end;
}

.bottom-white {
  display: flex;
  justify-content: center;
}

.banner-area {
  background-color: #3882F6;
  justify-content: space-between;
  max-width: 1000px;
  width: 100%;
  padding: 2rem 4rem;
  margin: 4rem 0;
  border-radius: 10px;
  display: flex;
}

.text-area {
  color: white;
}

.big-text {
  font-size: 20px;
  font-weight: 700;
}

.banner-area .sign-up {
  border: 2px solid white;
}

.footer {
  background-color: #1F2937;
  display: flex;
  justify-content: center;
}

.footer .small-text {
  padding: 2rem;
  color: white;
}
